header {
    position: sticky;
    color: white;
    font-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    .title {
        font-size: 120%;
        padding: 10px;
        text-transform: capitalize;
        text-shadow: 1px 1px 1px #000;
    }

    .links {
        display: flex;
        flex-direction: row;
        transition: all 0.2s ease-in-out;
        .linka {
            text-decoration: none;
        }
        &.show {
            display: flex;
            transform: translateX(0%);
            opacity: 1;
        }
        .link {
            box-shadow: inset 0px 0px 15px 3px #2d2d2e;
            background-color: var(--color4);
            border-radius: 17px;
            border: 1px solid var(--color2);
            cursor: pointer;
            color: #ffffff;
            font-size: 80%;
            padding: 5px 10px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #000;
            margin-left: 10px;
            &:hover {
                background-color: var(--color2);
            }
        }
    }

    .hamburger {
        display: none;

        .hamburger-line {
            width: 25px;
            height: 3px;
            background-color: #fff;
            margin: 5px;
            transition: all 0.3s ease;
        }
        &.toggle {
            .hamburger-line1 {
                transform: rotate(-45deg) translate(-5px, 6px);
            }

            .hamburger-line2 {
                opacity: 0;
            }

            .hamburger-line3 {
                transform: rotate(45deg) translate(-5px, -6px);
            }
        }
    }
}

@media only screen and (max-width: 925px) {
    header {
        .links {
            position: absolute;
            top: 54px;
            left: 19px;
            right: 19px;
            flex-direction: column;
            opacity: 0;
            transform: translateX(100%);

            .link {
                box-shadow: none;
                background: none;
                background-color: var(--color4);
                border-radius: 0;
                margin-right: 0;
                padding: 10px;
                margin-left: 0;
            }
        }
        .hamburger {
            display: block;
        }
    }
}

@media print {
    header {
        border-bottom: 1px solid #ccc;
        .links {
            display: none;
        }
        .hamburger {
            display: none;
        }
    }
}
